<div
  class="h-auto w-auto rounded-[5px] w-max-[80vw] h-max-[80vh] shadow-lg opacity-100 flex flex-row"
>
    <div class="flex-1 h-[350px] w-[350px]">
        <img [src]="product.product_image" class="w-full h-full object-cover">
    </div>
    <div class="flex-1 p-2 py-4">
        <p class="font-Roboto font-medium text-[1rem]">{{ product.product_name }}</p>
        <p class="font-Roboto font-bold text-[1.3rem] text-[#6437A0]">₱{{ product.product_price}}</p>
        <p class="text-[0.8rem] italic">{{ product.product_description}}</p>

        <div class="flex flex-row w-[100px] border-2 justify-between my-3">
            <div class="bg-[#F9F9F9]">
                <svg (click)="subt()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 12.998H5V10.998H19V12.998Z" fill="#6437A0"/>
                </svg>
                    
            </div>

            <p class="flex-1 text-center">{{count}}</p>

            <div class="bg-[#F9F9F9]">
                <svg (click)="count = count + 1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 12.998H13V18.998H11V12.998H5V10.998H11V4.99805H13V10.998H19V12.998Z" fill="#6437A0"/>
                </svg>
                    
            </div>
        </div>

        <div (click)="checkExist()" class="p-1 border-2 border-[#6437A0] bg-[#CFB9EB] rounded-[5px] w-[100px] flex justify-center items-center">
            <p class="select-none text-[0.9rem] text-[#6437A0] font-semibold">Add to Cart</p>
        </div>
    </div>
</div>
