<div class="bg-white h-[60px] overscroll-none justify-between items-center py-2 px-6 flex flex-row border-b-2 border-[#E8E8E8]">
   <p class="font-Sofia font-[1000] text-[1.4rem]">Halifax</p>
</div>
<div class=" actual-background bg-custom-dark flex flex-col md:flex-row w-full h-full">
    <div class="flex div1 md:min-w-[60%] h-2/5 md:h-full justify-center items-center ">
        <div class="flex flex-col justify-center  h-full">
            <h1 class="text-2xl md:text-3xl lg:text-8xl font-black">Halifax</h1>
            <h3 class="text-large md:text-medium lg:text-6xl font-black font-normal" style="color:#9E9E9E">Everything, In One Place.</h3>
        </div>
    </div>

    <div class="flex flex-col justify-center div2 md:min-w-[40%] h-3/5 md:h-full md:bg-custom-dark bg-white "> 
        <div class="pt-5 md:bg-white lg:pt-10 rounded-lg">

            <div class="container p-4">
                <h2 class="lg:text-4xl text-2xl font-bold font-Sofia md:mb-5 mt-2" style="color: #6437A0;" >{{ isSignInActive ? 'Welcome Back' : 'Create an Account' }}</h2>
                              
                <a (click)="toggleForm()" class="inline-block align-baseline Sofia font-bold text-xs lg:text-sm hover:text-indigo-800 mb-1 md:mb-4">
                    {{ isSignInActive ? 'Don’t have an account? Sign up' : 'Already have an account? Sign in' }}
                </a>

                <form [formGroup]="form" (ngSubmit)="onLogin()">
                    <div *ngIf="!isSignInActive" class="mb-4">
                      <label for="username" class="block text-sm font-medium text-gray-700">Username:</label>
                      <input type="text" formControlName="username" id="username" class="mt-1 block w-full px-3 py-2 bg-white border-b border-gray-300 focus:border-indigo-500 focus:ring-0">
                    </div>

                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium text-gray-700">
                          {{ isSignInActive ? 'Email or Username:' : 'Email:' }}
                        </label>
                        <input [attr.type]="isSignInActive ? 'text' : 'email'" formControlName="email" id="email" class="mt-1 block w-full px-3 py-2 bg-white border-b border-gray-300 focus:border-indigo-500 focus:ring-0">
                    </div>

                    <div class="mb-6">
                      <label for="password" class="block text-sm font-medium text-gray-700">Password:</label>
                      <input formControlName="password" type="password" id="password" class="mt-1 block w-full px-3 py-2 bg-white border-b border-gray-300 focus:border-indigo-500 focus:ring-0">
                    </div>

                    <div *ngIf="errorMessage" class="mb-4">
                        <p class="text-sm font-medium text-red-600">{{ errorMessage }}</p>
                    </div>

                   <div class="flex justify-end">
                    <button type="submit" style="background-color: #6437A0;" class="rounded-lg flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{{ isSignInActive ? 'Sign In' : 'Sign Up' }}</button>
                   </div>
                    
                </form>

                <div class="flex items-center justify-center md:mt-5">
                    <div class="flex-grow">
                        <hr class="border">
                    </div>
                    <h2 class="lg:text-xl font-bold text-center px-3 mb-2">Or Sign Up/Sign In With</h2>
                    <div class="flex-grow">
                        <hr class="border">
                    </div>
                </div>
                <div class="flex justify-center items-center lg:mt-5">
                    <div id="google-btn"></div>
                </div>

            </div>
            
        </div>
    </div>
</div>