h1 {
    font-family: "Sofia Sans", sans-serif;
    color: white;
}

input {
    padding: 5px;
}


/* i literally cant */
@media (min-width: 768px) {
    .div2 {
        margin-left: -20px; 
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        z-index: 2; 
    }
}

@media (max-width:480px) {
    .div2 {
        margin-top: -20px; 
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        z-index: 2;
        height: calc(70vh + 20px);  
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .custom-stack {
        flex-direction: column;
    }
}